bitrix
*.sql
*.txt
upload
import_1C/import_files
import_1C/import_files_resized
import_1C/import_files_resized2
images_for_content
b2bcabinet_old
logs_1C 
price_list_xls
local
local/templates/b2bcabinet_old
local/templates/sotbit_origami_suppliers
local/templates/sotbit_mailing_minimal
local/templates/sotbit_mailing_default_mail
local/templates/pricelists-for-page-sokalskaya