bitrix
*.sql
*.txt
upload
import_1C/import_files
import_1C/import_files_resized
import_1C/import_files_resized2
images_for_content
b2bcabinet_old
logs_1C 
price_list_xls
local/ajax
local/tests
local/components
local/gadgets
local/temp

