.decoration-inputs #ORDER_PROP_35 {
    margin: 0 0 20px 0;
    width: 50% !important;
}



.datepicker .decoration__input #ORDER_PROP_36 {
    width: 100%;
    margin: 0 !important;
    padding: 13px;
}