<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Личный кабинет</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <!--  -->
    <!-- header -->
<header class="header">
  <!-- wrapper -->
  <div class="header-wrapper">
    <!-- logo -->
    <div class="header-logo">
      <a href="#" class="header-logo__link">
        <img src="images/logo.svg" alt="Эгида-отель" class="header-logo__img" />
      </a>
      <a href="#" class="header-logo__link header-logo__link--mobile">
        <img src="images/logo-s.svg" alt="Эгида-отель" class="header-logo__img" />
      </a>
    </div>
    <!-- ./ End of logo -->
    <!-- nav -->
    <div class="header-nav">
      <div class="container-container">
        <div class="header-nav__wrapper">
          <ul class="header-nav__list">
            <li class="header-nav__item header-nav__email">
              <svg class="header-nav__item-icon"><use xlink:href="#mail"></use></svg>
              <a class="header-nav__item-title" href="mailto:consultant@aegis.ru">consultant@aegis.ru</a>
              <a class="header-nav__item-link" href="#">Отправить заявку</a>
            </li>
            <li class="header-nav__item header-nav__contact">
              <div class="header-nav__dropdown-button">
                <svg class="header-nav__item-icon"><use xlink:href="#phone"></use></svg>
                <svg class="header-nav__item-icon"><use xlink:href="#dropdown-big"></use></svg>
                <a class="header-nav__item-title" href="tel:89099926260">8 (909) 992-62-60</a>
              </div>
              <span class="header-nav__item-link">Заказать звонок</span>

              <div class="header-nav__dropdown">
                <div class="header-nav__dropdown-item">
                  <svg><use xlink:href="#phone"></use></svg>
                  <a class="header-nav__dropdown-link" href="tel:89099926260">8 (909) 992-62-60</a>
                </div>
                <div class="header-nav__dropdown-item">
                  <svg><use xlink:href="#time"></use></svg>
                  <p><b>С 9:00 до 20:00</b></p>
                </div>
                <div class="header-nav__dropdown-item">
                  <svg><use xlink:href="#mail"></use></svg>
                  <a class="header-nav__dropdown-link" href="mailto:consultant@aegis.ru">consultant@aegis.ru</a>
                </div>
                <div class="header-nav__dropdown-item">
                  <svg><use xlink:href="#pin"></use></svg>
                  <p> ул. Ботаническая д.10Б </p>
                </div>
                <p class="button"> Заказать звонок </p>
              </div>
            </li>
            <li class="header-nav__item header-nav__city">
              <div class="address_header">
                <svg class="header-nav__item-icon"><use xlink:href="#pin"></use></svg>
                <p class="header-nav__item-title"> ул. Ботаническая д.10Б </p>
                <a class="header-nav__item-link" href="#">Схема проезда</a>
              </div>
            </li>
            <li class="header-nav__item header-nav__personal">
              <a href="#" class="header-nav__item-title">
                <svg class="header-nav__item-icon"><use xlink:href="#login"></use></svg>
                Авторизация
              </a>
              <p class="header-nav__item-link">Личный кабинет</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ./ End of nav -->
  </div>
  <!-- ./ End of wrapper -->
</header>
<!-- ./ End of header -->

    <!--  -->
    <div class="wrapper">
      <!--  -->
      <!-- aside -->
<aside class="aside">
  <!-- aside-hamburger -->
  <div class="aside-hamburger j_toggleMenu">
    <div class="aside-hamburger__icon">
      <div class="aside-hamburger__item"></div>
      <div class="aside-hamburger__item"></div>
      <div class="aside-hamburger__item"></div>
    </div>
  </div>
  <!-- ./ End of aside-hamburger -->
  <!-- wrapper -->
  <div class="aside-wrapper">
    <h4 class="aside-title">Рабочий стол</h4>
    <!-- nav -->
    <div class="aside-nav">
      <div class="aside-nav__list">
        <div class="aside-nav__item">
          <div class="aside-nav__item-icon">
            <svg class="aside-nav__item-svg">
              <use xlink:href="#check"></use>
            </svg>
          </div>
          <a href="#" class="aside-nav__item-link">Ваши настройки</a>
        </div>
        <div class="aside-nav__item">
          <div class="aside-nav__item-icon">
            <svg class="aside-nav__item-svg">
              <use xlink:href="#check"></use>
            </svg>
          </div>
          <a href="#" class="aside-nav__item-link">Бланк заказа</a>
        </div>
        <div class="aside-nav__item">
          <div class="aside-nav__item-icon">
            <svg class="aside-nav__item-svg">
              <use xlink:href="#check"></use>
            </svg>
          </div>
          <a href="#" class="aside-nav__item-link">Состояние заказов</a>
        </div>
        <div class="aside-nav__item">
          <div class="aside-nav__item-icon">
            <svg class="aside-nav__item-svg">
              <use xlink:href="#check"></use>
            </svg>
          </div>
          <a href="#" class="aside-nav__item-link">Оформление заказа</a>
        </div>
        <div class="aside-nav__item">
          <div class="aside-nav__item-icon">
            <svg class="aside-nav__item-svg">
              <use xlink:href="#check"></use>
            </svg>
          </div>
          <a href="#" class="aside-nav__item-link">Организации</a>
        </div>
      </div>
    </div>
    <!-- ./ End of nav -->
    <!-- delivery -->
    <div class="aside-delivery">
      <h4 class="aside-title aside-title--orange">Ближайшая доставка</h4>
      <!-- datepicker -->
      <div class="datepicker-new">
        <input type="hidden" class="j_datepicker-new" />
      </div>
      <!-- ./ End of datepicker -->
    </div>
    <!-- ./ End of delivery -->
  </div>
  <!-- ./ End of wrapper -->
</aside>
<!-- ./ End of aside -->

      <!--  -->
      <div class="content">
        <main>
          <!--  -->
          <!-- person -->
          <section class="person-section">
            <!-- page-info -->
            <div class="page-info">
              <div class="container-container">
                <div class="page-info__wrapper">
                  <div class="page-info__content">
                    <h1 class="page-info__title">Личный кабинет</h1>
                    <div class="page-info__description">
                      <p>На этой странице вы можеьте управлять своими настройками, и т.д. и т.п.</p>
                    </div>
                  </div>
                  <div class="page-info__img-wrapper">
                    <img src="images/page-title_img-1.png" class="page-info__img" />
                  </div>
                </div>
              </div>
            </div>
            <!-- ./ End of page-info -->
            <!-- tiles -->
            <div class="person-tiles">
              <div class="container-container">
                <!-- wrapper -->
                <div class="person-tiles__wrapper">
                  <div class="person-tiles__col">
                    <!-- tile -->
                    <div class="person-tile">
                      <!-- top -->
                      <div class="person-tile__top">
                        <h4 class="person-tile__title">Моя корзина</h4>
                      </div>
                      <!-- ./ End of top -->
                      <!-- content -->
                      <div class="person-tile__content">
                        <p>0 товаров на 0 рублей</p>
                        <br />
                        <br />
                        <a href="#">Подробнее</a>
                      </div>
                      <!-- ./ End of content -->
                    </div>
                    <!-- ./ End of tile -->
                    <!-- tile -->
                    <div class="person-tile">
                      <!-- top -->
                      <div class="person-tile__top">
                        <h4 class="person-tile__title">Персональные данные</h4>
                      </div>
                      <!-- ./ End of top -->
                      <!-- content -->
                      <div class="person-tile__content">
                        <p>Ангело Не мартинез</p>
                        <p>blackkingivblackkingiv</p>
                        <p>E-mail test@mail.ru</p>
                        <p>Телефон +79514077514</p>
                      </div>
                      <!-- ./ End of content -->
                    </div>
                    <!-- ./ End of tile -->
                  </div>
                  <div class="person-tiles__col">
                    <!-- tile -->
                    <div class="person-tile">
                      <!-- top -->
                      <div class="person-tile__top">
                        <h4 class="person-tile__title">Персональные данные</h4>
                      </div>
                      <!-- ./ End of top -->
                      <!-- content -->
                      <div class="person-tile__content">
                        <p>Ангело Не мартинез</p>
                        <p>blackkingivblackkingiv</p>
                        <p>E-mail test@mail.ru</p>
                        <p>Телефон +79514077514</p>
                      </div>
                      <!-- ./ End of content -->
                    </div>
                    <!-- ./ End of tile -->
                    <!-- tile -->
                    <div class="person-tile">
                      <!-- top -->
                      <div class="person-tile__top">
                        <h4 class="person-tile__title">Персональные данные</h4>
                      </div>
                      <!-- ./ End of top -->
                      <!-- content -->
                      <div class="person-tile__content">
                        <p>Ангело Не мартинез</p>
                        <p>blackkingivblackkingiv</p>
                        <p>E-mail test@mail.ru</p>
                        <p>Телефон +79514077514</p>
                      </div>
                      <!-- ./ End of content -->
                    </div>
                    <!-- ./ End of tile -->
                  </div>
                </div>
                <!-- ./ End of wrapper -->
              </div>
            </div>
            <!-- ./ End of tiles -->
            <!-- often -->
            <div class="personal-often">
              <div class="container-container">
                <!-- banner-title -->
                <div class="banner-title">
                  <div class="banner-title__left">
                    <div class="banner-title__icon">
                      <svg class="banner-title__svg">
                        <use xlink:href="#star"></use>
                      </svg>
                    </div>
                    <p>Топ 10</p>
                  </div>
                  <div class="banner-title__content">
                    <p>Чаще всего Вы заказываете</p>
                  </div>
                </div>
                <!-- ./ End of banner-title -->
                <!-- list -->
                <div class="orders-list">
                  <!-- item -->
                  <div class="orders-item">
                    <div class="orders-item__top">
                      <h4 class="orders-item__title">ЭФФЕКТ СИГМА 601 жидкое крем-мыло д/мытья рук 5л 1/2</h4>
                    </div>
                    <div class="orders-item__row">
                      <div class="orders-item__measure">
                        <div class="orders-item__measure-top">Ед. измерения</div>
                        <div class="orders-item__measure-bottom">штуки</div>
                      </div>
                      <div class="orders-item__count">
                        <div class="orders-item__count-top">Кол-во в упаковке</div>
                        <div class="orders-item__count-bottom">1</div>
                      </div>
                      <div class="orders-item__price">
                        <div class="orders-item__price-top">Цена</div>
                        <div class="orders-item__price-bottom orders-item__price-bottom--blue">3647.34 руб.</div>
                      </div>
                      <div class="orders-item__input">
                        <!-- number-label -->
<div class="number-label">
  <p class="number-label__decrement">-</p>
  <input class="number-label__input" type="number" min="0" max="5" value="0" />
  <p class="number-label__increment">+</p>
</div>
<!-- ./ End of number-label -->

                      </div>
                    </div>
                    <div class="orders-item__row">
                      <div class="orders-item__measure">
                        <div class="orders-item__measure-top">Ед. измерения</div>
                        <div class="orders-item__measure-bottom">коробка</div>
                      </div>
                      <div class="orders-item__count">
                        <div class="orders-item__count-top">Кол-во в упаковке</div>
                        <div class="orders-item__count-bottom">10</div>
                      </div>
                      <div class="orders-item__price">
                        <div class="orders-item__price-top">Цена</div>
                        <div class="orders-item__price-bottom">3647.34 руб.</div>
                      </div>
                      <div class="orders-item__input">
                        <!-- number-label -->
<div class="number-label">
  <p class="number-label__decrement">-</p>
  <input class="number-label__input" type="number" min="0" max="5" value="0" />
  <p class="number-label__increment">+</p>
</div>
<!-- ./ End of number-label -->

                      </div>
                    </div>
                  </div>
                  <!-- ./ End of item -->
                </div>
                <!-- ./ End of list -->
              </div>
            </div>
            <!-- ./ End of often -->
          </section>
          <!-- ./ End of person -->
          <!--  -->
        </main>
        <!-- footer -->
<footer class="footer">
  <div class="container-container">
    <div class="footer__wrapper">
      <div class="footer__phone">
        <p class="footer__phone-top">Служба поддержки портала</p>
        <a href="tel:+84953359522" class="footer__phone-link">8 (495) 335-95-22</a>
      </div>
      <div class="footer__adress">
        <p class="footer__adress-top">Адрес</p>
        <p class="footer__adress-bottom">117393, Москва<br />ул. Профсоюзная, д. 78</p>
      </div>
      <div class="footer__button">
        <a class="button button--footer" data-modal-target="#modal-message">Задать вопрос</a>
      </div>
    </div>
  </div>
</footer>
<!-- ./ End of footer -->

      </div>
    </div>
    <!--  -->
    <!-- Modal message -->
<div class="modal-wrapper j_modal modal-message" id="modal-message">
  <div class="modal modal--small">
    <!-- btn-close -->
    <button class="modal-close button-close j_closeModal">
      <span class="button-close__item"></span>
      <span class="button-close__item"></span>
    </button>
    <!-- ./ End of btn-close -->

    <!-- wrap -->
    <div class="modal-wrap">
      <h3 class="modal__title">
        Напишите нам
      </h3>

      <form action="" class="modal-form">
        <input type="text" class="input" placeholder="Имя" />
        <input type="email" class="input" placeholder="Email" />
        <input type="tel" class="input j_mask" placeholder="+7 (___) ___-__-__" />
        <textarea class="textarea" placeholder="Ваше сообщение"></textarea>

        <p class="modal-form__text">
          Нажимая кнопку, Вы соглашаетесь <br />
          <a href="#" class="modal-form__link">
            с политикой конфиденциальности
          </a>
        </p>

        <button class="button" type="button">
          Отправить сообщение
        </button>
      </form>
    </div>
    <!-- ./ End of wrap -->
  </div>
</div>
<!-- ./ End of Modal message -->

    <!--  -->
  <script type="text/javascript" src="js/bundle.js"></script></body>
</html>
